body {
    background-color: burlywood;
}

h1 {
    font-size: xxx-large;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    text-align: center;
}

nav {
    border: 5px solid black;
    background: white;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 2px;
}

a {
    text-transform: uppercase;
    text-align: center;
}

img {
    border: 8px solid white;
    margin: 50px;
}

.mainLucy {
    align-content: center;
}

#skip {
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 10spx;
}